body
{
    background-color:darkslategrey;
}

.samples
{
    display: inline-block;
    box-sizing: border-box;
    width: calc(20% - .27em);
    background-color: lightsteelblue;
    border-radius: 3%;
    vertical-align: top;
    border: 1px solid #fff;
    box-shadow: 5px 5px #336;
    
}

.samples::before 
{
content: "";
  display: block;
  width: calc(30% - .27em);  
  height: 20px; 
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px 0 0; 
  margin-top: -12px; 
  margin-left: 35%;
}

.samples:first-child
{
    margin: 5% 2% 0 18%;
}

.samples:last-child
{
    margin: 5% 18% 0 2%;
}

.samples:nth-child(2)
{
    margin-top: 5%;
}

.container
{
    width: 100%;

}

h2, p
{
    text-align: center;
}

h2
{
    color: antiquewhite;
}

p
{
    color: black;
    padding: 3px;
    margin-top: 0%;
}

.sample-title
{
    margin-bottom: 5px;
    font-family: "Abril Fatface", serif;
    font-size: 30px;
    text-shadow: -1px -1px #fff, 1px 1px #333;
}

